body {
  background-color: #999;
}

.loading-text {
  visibility: hidden;
}

.indiviaul-task {
  border: 1px solid;
  width: 400px;
  height: 30px;
}

.individual-task.task-completed {
  text-decoration: line-through;
  color: red;
}

.inner-task-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
}

.task-links {
  display: flex;
  gap: 0.5rem;
}

.task-links button {
  cursor: pointer;
}
